mat-form-field {
    width: 100%;
}
mat-panel-title {
    line-height: 36px;
    vertical-align: middle;
}
.token {
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
    vertical-align: middle;
}
