<div class="contents">
    <mat-card>
        <div class="literal">
            ClientId
        </div>
        <div class="value">
            {{data.clientId}}
        </div>
        <div class="literal">
            Tenant
        </div>
        <div class="value">
            {{data.tenant}}
        </div>
        <div class="literal">
            Scopes
        </div>
        <div class="value">
            {{scopes}}
        </div>
        <mat-card-actions>
            <div class="buttons-field">
                <div class="login">
                    <button mat-flat-button color="primary" (click)="login()" *ngIf="account === null">
                        LogIn
                    </button>
                    <button mat-flat-button color="primary" (click)="acquireToken()"  *ngIf="account !== null">
                        Get Token
                    </button>
                </div>
                <div class="scopes">
                    <mat-form-field>
                        <mat-select placeholder="SelectScopes" [(value)]="selectScopes">
                            <ng-container *ngFor="let item of data.scopes">
                                <mat-option [value]="item.scope">
                                    {{item.scope}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="edit">
                    <button mat-flat-button color="primary" (click)="editSetting()">
                        Edit
                    </button>
                </div>
            </div>
        </mat-card-actions>
        <div *ngIf="accessToken !== ''">
            <div class="literal">
                Access Token:
            </div>
            <div class="value ac-token">
                <div class="copy-button">
                    <button mat-stroked-button (click)="copyData()">
                        <mat-icon>
                            content_copy
                        </mat-icon>
                        Copy
                    </button>
                </div>
                <div class="access-token-input">
                    <input disabled [value]="accessToken" />
                </div>
            </div>
        </div>
    </mat-card>
</div>